* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-image: url(bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    width: 35%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    padding: 20px 0;
    line-height: 55px;
    color: white;
}

article p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

section {
    width: 35%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

section > button {
    width: 90%;
    height: 10%;
    padding: 5px 10px;
    border: 1px solid hsl(248, 32%, 49%);
    border-radius: 10px;
    background-color: hsl(248, 32%, 49%);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 14px;
    box-shadow: 0 5px hsl(240, 1%, 57%);
}

section > button > span {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
}

section > div {
    width: 90%;
    height: 80%;
    border: 1px solid hsl(246, 25%, 77%);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    box-shadow: 0 5px #888888;
}

form {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    row-gap: 30px;
}

.form_input {
    width: 100%;
    height: 13%;
    border: 2px solid hsl(246, 25%, 77%);
    border-radius: 10px;
    padding: 3px 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: hsl(246, 25%, 77%);
}

.form_input:focus {
    width: 100%;
    height: 13%;
    border: 2px solid hsl(249, 10%, 26%);
    border-radius: 10px;
    padding: 3px 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: hsl(249, 10%, 26%);
}

#form_btn {
    width: 100%;
    height: 13%;
    border: 1px solid hsl(154, 59%, 51%);
    border-radius: 10px; 
    padding: 3px 0;
    background-color: hsl(154, 59%, 51%);   
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    box-shadow: 0 5px hsl(154, 44%, 68%);
}

section > div > P {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: hsl(0, 100%, 74%);
    justify-self: start;
    align-self: center;
}

#p_span {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: hsl(246, 25%, 77%);
}

@media screen and (max-width: 375px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html, body {
        width: 100%;
        height: 100%;
        background-image: url(bg-intro-mobile.png);
        background-color: hsl(0, 100%, 74%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    article {
        width: 80%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 1.65rem;
        line-height: 35px;
        text-align: center;
        color: white;
    }
    
    article p {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 15px;
        text-align: center;
        color: white;
    }

    section {
        width: 80%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }

    section > button {
        width: 100%;
        height: 20%;
        padding: 5px 10px;
        border: 1px solid hsl(248, 32%, 49%);
        border-radius: 10px;
        padding: 5px 40px;
        background-color: hsl(248, 32%, 49%);
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: white;
        font-size: 14px;
        box-shadow: 0 5px hsl(240, 1%, 57%);
    }

    section > button > span {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: white;
    }

    section > div {
        width: 100%;
        height: 90%;
        border: 1px solid hsl(246, 25%, 77%);
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15px;
        box-shadow: 0 3px #888888;
    }
    
    form {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        row-gap: 10px;
    }
    
    .form_input {
        width: 100%;
        height: 22%;
        border: 1px solid hsl(246, 25%, 77%);
        border-radius: 5px;
        padding: 5px 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: hsl(246, 25%, 77%);
    }
    
    .form_input:focus {
        width: 100%;
        height: 22%;
        border: 1px solid hsl(249, 10%, 26%);
        border-radius: 5px;
        padding: 5px 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: hsl(249, 10%, 26%);
    }
    
    #form_btn {
        width: 100%;
        height: 22%;
        border: 1px solid hsl(154, 59%, 51%);
        border-radius: 5px; 
        padding: 5px 0;
        background-color: hsl(154, 59%, 51%);   
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: white;
        box-shadow: 0 3px hsl(154, 44%, 68%);
    }
    
    section > div > P {
        padding: 0 40px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 10px;
        text-align: center;
        color: hsl(0, 100%, 74%);
        justify-self: start;
        align-self: center;
    }
    
    #p_span {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 10px;
        color: hsl(246, 25%, 77%);
    }
}
